.cardWrapper{
    height: auto;
    width: auto;
    display: grid;
    grid-template-areas: 
    'header'
    'card';
    grid-template-rows: 30px auto;
}


.cardHeader{
    color: var(--grey-main);
    grid-area: header;
    font-weight: 200;
    font-size: 16px;
}

.card{
    grid-area: card;
    display: grid;
    gap: 15px;
    grid-template-areas: 
    'name name'
    'image info';
    grid-template-columns: 350px auto;
    grid-template-rows: auto 1fr;
    background-color: var(--primary);
    border-radius: var(--dist);
    padding: var(--dist) 0 var(--dist) var(--dist);
}

.cardName{
    grid-area: name;
    font-weight: 400;
    font-size: 20px;
    color: var(--secondary);
    border-bottom: 1px solid var(--grey-main);
    
}

.cardImage{
    grid-area: image;
    overflow: hidden;
    border-radius: var(--dist);
    height: 200px;
    background-color: var(--primary-light);
}

.cardImageBody{
    max-width: 100%; 
    height: auto; 
    object-fit: cover
}

.cardInfo{
    grid-area: info;
    overflow: hidden;
    padding: var(--dist);
    border-radius: var(--dist);
    background-color: var(--primary-light);
}

.infoRow{
    padding: 10px 0;
    border-bottom: 1px solid var(--grey-dark);
}

.infoTerm{
    color: var(--white);
    padding-right: 20px;
}

.infoEl{

}