.cardWrapper{
    height: auto;
    width: auto;
    display: grid;
    grid-template-areas: 
    'header'
    'card';
    grid-template-rows: 30px auto;
}


.cardHeader{
    height: auto;
    width: auto;
    grid-area: header;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.card{
    grid-area: card;
    display: grid;
    grid-template-areas: 
    'name name'
    'image info';
    grid-template-columns: 350px auto;
    grid-template-rows: auto 1fr;
    background-color: var(--primary);
    border-radius: var(--dist);
}

.cardName{
    grid-area: name;
    overflow: hidden;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    
}

.cardImage{
    /* background-color: rgb(122, 122, 122); */
    grid-area: image;
    overflow: hidden;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    height: 200px;
}

.cardImageBody{
    max-width: 100%; 
    height: auto; 
    object-fit: cover
    
}

.cardInfo{
    grid-area: info;
    overflow: hidden;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    height: auto;
}