.cardWrapper{
    height: 100%;
    width: auto;
    display: grid;
    grid-template-areas: 
    'header'
    'card';
    grid-template-rows: 30px auto;
}


.cardHeader{
    height: auto;
    width: auto;
    grid-area: header;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.card{
    grid-area: card;
    display: grid;
    grid-template-areas: 
    'name name'
    'image info';
    grid-template-columns: 250px auto;
    grid-template-rows: 50px auto;
    height: auto;
    width: auto;
}

.cardName{
    grid-area: name;
    overflow: hidden;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.cardImage{
    /* background-color: rgb(122, 122, 122); */
    grid-area: image;
    overflow: hidden;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: auto;
    border-radius: 20px;
    height: auto;
    max-height: auto;
    display: flex;
}

.cardImageBody{
    max-width: 100%; 
    height: auto;
    object-fit: cover
    
}

.cardInfo{
    grid-area: info;
    overflow: hidden;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    height: auto;
}