.cardWrapper{
    display: grid;
    min-height: 100%;
    grid-template-areas: 
    'header'
    'card';
    grid-template-rows: auto 1fr;
    gap: 8px;

}


.cardHeader{
    grid-area: header;
    color: var(--grey-main);
    font-weight: 200;
    font-size: 16px;
}

.card{
    grid-area: card;
    display: grid;
    gap: 15px;
    grid-template-areas: 
    'name name'
    'image info';
    grid-template-columns: 250px auto;
    grid-template-rows: auto 1fr;
    background-color: var(--primary);
    border-radius: var(--dist);
    padding: var(--dist) 0 var(--dist) var(--dist);
}

.cardName{
    grid-area: name;
    font-weight: 400;
    font-size: 20px;
    color: var(--secondary);
    border-bottom: 1px solid var(--grey-main);
}

.cardImage{
    grid-area: image;
    overflow: hidden;
    margin-bottom: auto;
    border-radius: var(--dist);
    display: flex;
}

.cardImageBody{
    max-width: 100%; 
    height: auto;
    object-fit: cover
}

.cardInfo{
    grid-area: info;
    overflow: hidden;
    background-color: var(--primary-light);
    border-radius: var(--dist);
}