.appWrapper{
    min-height: 100vh;
    display: grid;
    gap: 20px;
    grid-template-columns: auto minmax(320px, 1200px) auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    ". header ."
    ". body ."
    "footer footer footer";
}

.header{
    grid-area: header;
}

.body{
    grid-area: body;
    display: grid;
    grid-template-areas: 
    'random'
    'items';
    grid-template-rows: auto 1fr;
    gap: 20px;

}

.footer{
    grid-area: footer;
}

.itemRandom{
    grid-area: random;
}

.items{
    grid-area: items;
}

.welcomePage {

}

.errorPage {

}

@media (max-width: 765px) {
    .appWrapper{
        grid-template-columns: minmax(320px, 1fr);
        grid-template-areas: 
        "header"
        "body"
        "footer";
    }

    .body{
        grid-area: body;
        display: grid;
        grid-template-areas: 
        'items';

        gap: 20px;
    
    }

    .itemRandom{
        visibility: hidden;
    }
}
