.items{
    background-color: rgb(236, 163, 163);
    grid-area: items;
    margin: 5px;
    display: grid;
    grid-template-areas: 
    'list info';
    grid-template-columns: 350px auto;
    
}

.itemsList{
    background-color: rgb(173, 173, 173);
    grid-area: list;
}

.itemInfo{
    margin-left: 20px;
    background-color: chocolate;
    grid-area: info;
}