.items{
    grid-area: items;
    display: grid;
    grid-template-areas: 
    'list info';
    grid-template-columns: minmax(200px, 350px) minmax(auto,1fr);
    gap: 20px;
}

.itemsList{
    grid-area: list;
}

.itemInfo{
    grid-area: info;
}