.items{
    grid-area: items;
    margin: 5px;
    display: grid;
    grid-template-areas: 
    'list info';
    grid-template-columns: 350px auto;
    
}

.itemsList{
    grid-area: list;
}

.itemInfo{
    margin-left: 20px;
    grid-area: info;
}