.headerWrapper{
    background-color: blueviolet;
    height: 100%;
    display: grid;
    grid-template-areas: 
    'logo menu';
    grid-template-columns: 350px auto;
}

.headerWrapper a{
    text-decoration: none
}

.headerLogo{
    background-color: aqua;
    grid-area: logo;
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 10px;

}

.headerMenuWrapper{
    background-color: brown;
    grid-area: menu;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-right: 25px;
}

.headerMenu{
    height: 100%;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
}

.menuItem{
    display: flex;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    border: solid 1px black;
    background-color: brown;
    margin-bottom: 0;
    /* justify-content: center; */
    align-items: center;
}