.headerWrapper{
    display: grid;
    grid-template-areas: 
    'logo menu';
    grid-template-columns: 1fr auto;
    background-color: var(--primary);
    border-radius: var(--dist);
    overflow: hidden;
}

.headerLogo{
    grid-area: logo;
    padding: var(--dist);
}

.headerMenuWrapper{
    grid-area: menu;
}

.headerMenu{
    height: 100%;
    display: flex;
    align-items: stretch;
    font-size: 18px;
    padding-right: var(--dist);
    
}

.menuItem, .menuItemActive{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    transition: all 0.2s;
    padding: 0 20px; 
}

.menuItem:hover{
    background-color: var(--primary-hover);
    text-decoration: none;
}


.menuItemActive{
    color: var(--white);
    text-decoration: none;
    border-bottom: 5px solid var(--white);
    background-color: var(--primary-light);
}
