/* global styles */
.basicBox{
    background-color: #3d4450;
    border-radius: 20px;
    border: 1px solid;
    border-color: rgb(255, 255, 255, 0.3);
  }

.typoObjectHeader{
    color: white;
}

.typoItems, .typoItemName, .typoItemsInfo, .typoChunkHeader{
    color: white;
}

.typoItemName{
    font-size: x-large;
    font-weight: bold;
    border-bottom: 1px solid;
    border-color: rgb(255, 255, 255, 0.5);
}

.typoItemsInfo{
    font-size: large;
}

.typoChunkHeader{
    color: #acacac;
    font-size: medium;
    font-weight: lighter;
}

/* originally for ul tag */
.infoList{
    /* background-color: rgb(150, 150, 150, 0.3); */
    list-style-type: none;
    line-height: 2;
    padding-left: 20px;
    padding-right: 0;
    
}

/* originally for <li> tag */
.infoListGroup{
    border-bottom: 1px solid;
    border-color: rgb(255, 255, 255, 0.3);
}

.infoListTerm{
    margin-right: 30px;
}

.infoListEl{
    font-weight: lighter;
}

.infoListElSelect, .infoListElSelected{
    text-indent: 10px;
    
}

.infoListElSelect:hover{
    background-color: rgb(128, 128, 128);
    cursor: pointer;
}

.infoListElSelected{
    background-color: rgb(139, 72, 72);
    cursor: pointer;
}

/* preloader positioning */
.preloaderContainer{
height: 100%;
    display: flex;
  justify-content: center;
  align-items: center;
}