/* global styles */
.basicBox{
    background-color: #465163;
    border-radius: 20px;
  }

.typoObjectHeader{
    color: white;
}

.typoItems, .typoItemName, .typoItemsInfo{
    color: white;
}

.typoItemName{
    font-size: xx-large;
    font-weight: bold;
    border-bottom: 1px solid;
    border-color: rgb(255, 255, 255, 0.5);
}

.typoItemsInfo{
    font-size: x-large;
}

.infoList{
    background-color: rgb(150, 150, 150);
    list-style-type: none;
    line-height: 2;
    
}

.infoListGroup{
    border-bottom: 1px solid;
    border-color: rgb(255, 255, 255, 0.3);
}

.infoListTerm{
 margin-right: 30px;
}

.infoListEl{
    font-weight: lighter;
}