/* global styles */
.basicBox{
    background-color: #3d4450;
    border-radius: 20px;
    border: 1px solid;
    border-color: rgb(255, 255, 255, 0.3);
  }

.typoObjectHeader{
    color: white;
}

.typoItems, .typoItemName, .typoItemsInfo, .typoChunkHeader, .infoListGroup a{
    color: white;
}

.typoItemName{
    font-size: x-large;
    font-weight: bold;
    border-bottom: 1px solid;
    border-color: rgb(255, 255, 255, 0.5);
}

.typoItemsInfo{
    font-size: large;
}

.typoChunkHeader{
    color: #acacac;
    font-size: medium;
    font-weight: lighter;
}

/* for ul tag - info and link-lists */

.infoList{
    list-style-type: none;
    line-height: 2;
    padding-left: 20px;
    padding-right: 0;
    
}

/* originally for <li> tag */
.infoListGroup{
    border-bottom: 1px solid;
    border-color: rgb(255, 255, 255, 0.3);
    
}

.infoListGroup a{
    text-decoration: none;
    display: block
}

.infoListTerm{
    margin-right: 30px;
}

.infoListEl{
    font-weight: lighter;
}

.infoListElSelect, .infoListElSelected{
    text-indent: 10px;
    height: auto;
    width: auto;
    
}

.infoListElSelect:hover{
    background-color: #4b5361;
    cursor: pointer;
    transition: transform 0.1s, background-color 0.2s, border-right 0.1s;
}

.infoListElSelect:active{
    background-color: #677285;
    cursor: pointer;
    transform: scale(1.07);
    box-shadow: 0 0 0 0 white;
    border-right: solid 10px white;
}

.infoListElSelected{
    background-color: #565f6e;
    cursor: pointer;
    border-right: solid 3px white;
    transform: scale(1);
    
}

/* preloader positioning */
.preloaderContainer{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* cards styles */
.cardInfo{
    background-color: #4b5361;
    grid-area: info;
    overflow: hidden;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    height: auto;
}

/* header styles */
.navBar{
    background-color: #4b5361;
}