.listWrapper{
    display: grid;
    min-height: 100%;
    grid-template-areas: 
    'header'
    'content';
    grid-template-rows: auto 1fr;
    gap: 8px;
    
}


.listHeader{
    color: var(--grey-main);
    grid-area: header;
    font-weight: 200;
    font-size: 16px;

}

.listContent{
    background-color: var(--primary);
    border-radius: var(--dist);
    grid-area: content;
    display: grid;
    grid-template-areas: 
    'list'
    'pages';
    grid-template-rows: 1fr auto ;
    gap: 8px;
    padding-left: var(--dist);
    
}

.list{
    grid-area: list;
    background-color: var(--primary-light);
    border-radius: var(--dist);
    padding: var(--dist) 0;
}

.listItem {
    border-bottom: 1px solid var(--grey-dark);
}

.link, .linkActive {
    padding: 5px var(--dist);
    
}

.link:hover{
    background-color: var(--primary-hover); 
}

.linkActive{
    color: var(--white);
    border-left: 5px solid var(--white)
}

.infoListGroup{
    border: 1px solid white;
}

.pagesNumbers{
    display: flex;
    justify-content: space-between;
    grid-area: pages;
}
