.listWrapper{
    height: 100%;
    width: auto;
    display: grid;
    grid-template-areas: 
    'header'
    'list';
    grid-template-rows: 30px auto;
}


.listHeader{
    height: auto;
    width: auto;
    grid-area: header;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.list{
    grid-area: list;
    height: 100%;
    width: 100%;

}

.listItems{
    
    height: auto;
    width: auto;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
}
